.button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 8px 16px;
    text-align: center;
    color: rgb(27, 28, 29);
    background-color: rgb(255, 153, 102);
    border: solid 1px rgb(27, 28, 29);
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    box-shadow: rgb(27, 28, 29) 2px 2px 0px 0px;
}
.button_light {
    border: solid 1.2px rgba(27, 28, 29, 0.2);
    border-radius: 8px;
    color: (34, 34, 34);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42;
    padding: 8px 16px;
}
.button_light:hover,
.button_light.active {
    background-color: rgba(255,255,255);
}
.button_border {
    border: solid 1.6px rgb(27, 28, 29);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    padding: 12px;
    cursor: pointer;

}
.button_border:hover:nth-child(1) {
    background-color: #eda6e6;
}
.button_border:hover:nth-child(2){
    background-color:#a6eaff;
}
.button_border:hover:nth-child(3){
    background-color: #fff480;
}
.button_border:hover:nth-child(4){
    background-color: #66cca0;
}
@media (max-width: 991.98px) {
    .button {
        padding: 6px 10px;
        font-size: 14px;
    }
}
@media (max-width: 767.98px) {
    .button {
        display: block;
        font-size: 22px;        
     }
}
.button i {
    margin-left: 10px;
}
.button:hover,
.button.active {
    box-shadow: rgb(27, 28, 29) 4px 4px 0px 0px;
}
.button.active {
    background-color: #ff9966;
}
/* --------------------------- */
.title {
    font-family: 'NewKansas-Regular';
    font-size: 96px;
    line-height: 1.2;
    letter-spacing: -1.14px;
    font-weight: 500;
    text-align: center;
    width: 800px;
}
@media(max-width:767.98px) {
    title {
        font-size: 54px;
    }
}
.title-second {
    font-family: 'NewKansas-Regular';
    font-size: 55px;
    font-weight: 600;
    letter-spacing: -0.6px;
    line-height: 1.15;
}
@media(max-width:767.98px) {
    .title-second {
        font-size: 45px;
    }
}

.titlethree {
    font-size: 35px;
}
@media(max-width: 490px) {
    .titlethree {
        font-size: 30px;
}
}
.title-comment {
    font-size: 64px;
    font-family: 'Skranji', cursive;
    color: #1b1c1d;
    transform: rotate(10deg);    
}
/* --------------------------- */
.text {
    line-height: 1.55;
    font-size: 25px;
}
/* --------------------------------- */
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.social__link {
    color: #ffffff;
    font-size: 45px;
    flex: 0 0 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
}
.social__link:hover {
    transform: translate(0px, -5px);
}
/* ----------------- */
._anim-show {
    transform: translateY(120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
._anim-show._active
._active._anim-show {
    opacity: 1;
    transform: translateY(0px);
}
/* ----------------- */

