/* RESET STYLES */
@import url("reset.css");
/* Common styles */
@import url("common.css");
/* HEDER STYLES */
@import url("header.css");
/* FOOTER STYLES */
@import url("footer.css");
@import url("iconsFont.css");
/* ------------------------ */
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #f5f3ea;
    color: rgb(27, 28, 29);
    font-size: 20px;
}
/* ----------------------- */
.wrapper {
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}
/* ----------------------- */
.page {
    flex: 1 1 auto;
    padding-top: 85px;
}
@media(max-width: 767.98px) {
    .page {
        padding: 60px 0px 0px 0px;
    }
}
.page__main {

}
.page__technologies {
}
@media(max-width: 500px) {
    .page {
        padding-top: px;
    }
}
/* ----------------------- */
[class*="container"] {
    max-width: 1440px;
   padding: 0px 15px;
    margin: 0 auto;
}
/* ----------------------- */

.main {
    padding-top: 56px;
    padding-bottom: 80px;
}
.main__content {
    position: relative;
}
.main__title {
    width: 500px;
}
.main__title:not(:last-child) {
   margin-bottom: 25px;
}
.main__title_2 {
    display: none;
}
.main__items {  
    display: block;
    position: relative; 
}
.main__item {
    position:absolute;
    font-size: 20px;
    line-height: 1.3;
    width: 180px;
    height: 200px;
    padding: 20px 15px;
    background-color: #ffffff;
    border: solid 1px rgb(27, 28, 29);
    border-radius: 8px;
    box-shadow: rgb(27, 28, 29) 3px 3px 0px 0px;
    transition: all 0.8s ease 0s;
    z-index: 5;
 }
 .main__item:hover {
   transform: scale(1.3);    
 }
.item-main_1 {
    width: 300px;
    height: 170px;
    margin-left: 3.47%;
    margin-top: -2.08%;
}
.item-main_2 {
    width: 320px;
    height: 190px;
    margin-left: 74.3%;
    margin-top: 31.25%;
 } 
.item-main_3 {
    width: 250px;
    height: 160px;
    margin-left: 69.4%;
    margin-top: 5.55%;
}
.item-main_4 {
    width: 240px;
    height: 148px;
    margin-top: 22.916%;
    /* 330/1440*100=22.916666666666666667 */  
}
@media(max-width:1365px) {
    .item-main_3 {
        margin-left: 74.4%;
    }
 @media(max-width:1218px) {
        .item-main_4 {
            margin-top: 28.916%;
        }
        .item-main_1 {
            margin-left: 3.47%;
            margin-top: 10.08%;
        }
    }
@media(max-width:1200px) {
    .item-main_2 {
        margin-left: 68.3%;
        margin-top: 38.25%;
    }
    .item-main_4 {
        margin-top: 35.916%;
    }
}
@media(max-width:1110px) {
    .item-main_3 {
        margin-left: 70.4%;
        margin-top: 11%;
    }
}
@media(max-width:991.98px) {
    .item-main_1 {
        margin-left: -3%;        
    }
    .item-main_3 {
        margin-left: 72.4%;
        margin-top: 11%;
    }
    .item-main_2 {
        margin-left: 66.3%;
        margin-top: 33.25%;
    }
}
@media(max-width:880px) {
    .item-main_1 {
        margin-left: -6%;        
    }
}   
}
.item-main__list li {
    position: relative;
    min-height: 28px;
    padding-left: 40px;
}
.item-main__list li:not(:last-child) {
    margin-bottom: 6px;
}
.list_1 li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: #a3ddf2 url("../icons/check-solid.svg") center no-repeat;
}
.list_2 li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: #fff480 url("../icons/check-solid.svg") center no-repeat;
}
.list_3 li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background:#eda6e6 url("../icons/check-solidWite.svg") center no-repeat;
}
.list_4 li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: #66cca0 url("../icons/check-solid.svg") center no-repeat;
}
.content-main__body {
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   row-gap: 15px;
}

.main__images {
    height:  500px;
    overflow: hidden;
    
}
.main__images:not(:last-child) {
    margin-bottom: 16px;
}
.main__images img {
    width:  100%;
    height: 100%;
    object-fit: cover;
}
@media(max-width:1200px) {
    .main__title {
        font-size: 80px;
    }
    .main__images {
        height: 400px;
    }
}
@media(max-width:1110px) {
    .main__images {
        height: 350px;
    }
    .main__title {
        width: 700px;
    }
    .content-main__body {
        display: flex;
        row-gap: 60px;
    }
    .main__item {
        transform: scale(0.85);
    }
}
@media(max-width:991.98px) {
    .main {
        padding-top: 26px;
        padding-bottom: 50px;
    }
    .content-main__body {
        row-gap: 40px;
    }
    .main__images {
        height: 300px;
    }
    .main__title {
        font-size: 64px;
    }
    .main__item {
        transform: scale(0.75);
    }
    @media(max-width:855px) {
        .main__images {
            height: 250px;
        }
    }
    @media(max-width:767.98px) {
        .main__item {
            transform: scale(0.6);
        }
        .main__title {
            font-size: 54px;
        }
    }
    @media(max-width:767.98px) {
        .main {           
            padding-bottom: 30px;
        }
        .main__item {
            transform: scale(1);
            position: relative;
            margin: 0px;
        }
        .main__title {
            font-size: 54px;
            width: 100%;
        }
        .main__container {
            max-width: none;
            display:flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            column-gap: 20px;
        }
        .main__content {
            flex: 1 1 40%;
        }
        .content-main__body {
            row-gap: 0; 
                      
        }
        .main__button {
            
        }
        .main__images img {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        .main__items {
            flex: 1 1 50%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;          
        }
        .column-main_1,.column-main_2 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
        }
        .main__item {
            display: block;
            font-size: 16px;
            line-height: 1.3;
            /* width: 190px;
            min-height: 210px; */
            padding: 15px;
            background-color: #ffffff;
            border: solid 1px rgb(27, 28, 29);
            border-radius: 8px;
            box-shadow: rgb(27, 28, 29) 3px 3px 0px 0px;
        }
        .item-main_1,.item-main_2,
        .item-main_3,.item-main_4 {
            width: auto;
            height: auto;
        }
        .item-main__list li {
            padding-left: 25px;
        }
        
    }
    @media(max-width: 754px) {
        .main__images {
            height: 230px;
        }
        .main__container {
            gap: 0px;
        }
    }
    @media(max-width: 648.98px) {
        .main {
            padding-top: 16px;
        }
         .main__container {
          
        }
        .main__items {
            
        }
        .column-main_1,.column-main_2 {
            display: flex;
            flex-direction: column;
        }
        .main__content {
            margin-top: -5%;
        }
        .content-main__body {
            /* display: block; */
            flex-direction: row-reverse;
            flex-wrap: wrap;
            gap: 20px;
        }
        .main__title {
            display: none;
        }
        .main__title_2 {
            display: block;
            font-size: 44px;
        }
        .main__title_2:not(:last-child) {
            margin-bottom: 20px;
        }
        .main__images  {
            width: 250px;
            height: 200px;
             -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        .main__button {
          
            
        }
        .item-main_1,.item-main_3 {
            /* margin-bottom: 50px; */
        }
        .page__main {
            padding-bottom: px;
        }
    }
    @media(max-width: 420px) {
        .main {           
            padding-bottom: 15px;
        }
        .main__title_2 {
            font-size: 32px;
        }
        .main__items {
            grid-template-columns: auto;
        }
        .main__content {
            margin-top: 1%;
        }
        .content-main__body {
            display: block;
            
        }
        .main__images {
            margin: 0 auto;
        }
    }
}
/* ----------------------- */
 
.technologies {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color:#ff9966;
}
.lineOrangTop {
    margin-bottom: -45px;
}
.lineOrangBottom {
    margin-top: -35px;
}
.technologies__container {
    display: grid; 
    grid-template-columns: 60% auto; 
    gap: 35px;
 
}
.technologies__columns {
    display: flex;
   
}
.columns-technologies_1 {
    /* position: relative; */
    /* display: block; */ 
}
.columns-technologies_2 {
    align-items: center;
   justify-content: start;    
}
.technologies__comment {
    position: absolute;
     width: 400px;
     
     left: ;
    
    /* padding-right: 100px;   */
    /* align-self: flex-start; */
  
}
.commentSvg {
    /* position: relative; */
    width: 100%;
    transform: rotate(240deg);
     object-fit:cover;
}
.technologies__comment:not(:last-child) {
    margin-top: -2%;
    margin-left: -5%;
}
.technologies__title {
    font-size: 64px;
    font-family: 'Skranji', cursive;
    color: #1b1c1d;
    position: absolute;
    transform: rotate(10deg);    
}
.technologies__title:not(:last-child) {
    margin-top: 45%;
    margin-left: 5%;
}
.technologies__image {
    position: relative;
    flex: 0 0 600px;
    align-self: flex-end;  
    overflow: hidden;
    z-index: 3;
    margin-left: auto;

    
    /* margin-top: 10%; */
    
}
.technologies__image img{
    max-width: 100%;
    object-fit: cover;
}

.technologies__list {
   
}
.technologies__item.active {
    
}
.technologies__item {
    font-family: 'NewKansas-Regular';
    font-size: 56px;
    font-weight: 500;
    line-height: 1.5;
     opacity: 0.5;  
}
.technologies__item:not(:last-child) {
    margin-bottom: 20px;
}
.technologies__item::before {
    content: "";
    position: relative;
    display: inline-block;
    top:10px;
    width: 60px;
    height: 60px;
    background:url('../icons/arrow.svg') center no-repeat ;
}
@media(max-width: 1585px) {
    .technologies__comment {
        transform: scale(0.9);
    }
    .technologies__image {
        flex: 0 0 550px;
    }
    .technologies__comment:not(:last-child) {
       margin-top: -5%;
        margin-left: -1%;
    }
    .technologies__item:not(:last-child) {
        margin-bottom: 15px;
    }
}
@media(max-width: 1287px) {
    .technologies__comment {
        transform: scale(0.7);
    }
    .technologies__comment:not(:last-child) {
        margin-top: -10%;
         margin-left: -1%;
     }
    .technologies__image {
        flex: 0 0 400px;
    }
    .technologies__item {
        font-size: 40px;
        line-height: 1.2;
    }
    .technologies__item::before  {
        width: 40px;
        height: 40px;
        background-size: 40px;
    }

}
@media(max-width: 1110px) {
    .technologies__comment {
        transform: scale(0.6);
    }
    .technologies__comment:not(:last-child) {
        margin-top: -14%;
         margin-left: -7%;
     }
}
@media(max-width:991.98px) {
    .technologies {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .technologies__comment {
        transform: scale(0.6);
    }
    .technologies__image {
        flex: 0 0 300px;
    }
    .technologies__item {
        font-size: 30px;
        line-height: 1.2;
    }
    .technologies__item:not(:last-child) {
        margin-bottom: 10px;
    }
    .technologies__item::before  {
        background-size: 30px;
    }
    
}
@media(max-width:869px) {
    .technologies__comment {
        transform: scale(0.5);
    }
    .technologies__comment:not(:last-child) {
        margin-top: -18%;
         margin-left: -10%;
     }
}
@media(max-width:767.98px) {
    .technologies {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .technologies__image {
        flex: 0 0 250px;
    }
}
@media(max-width:650px) {
    .technologies {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .technologies__container {
        grid-template-columns: 55% auto;
    }
    .technologies__comment {
        transform: scale(0.4);
    }
    .technologies__item {
        font-size: 25px;
        line-height: 1.2;
    }
    .technologies__item::before  {
        width: 25px;
        height: 25px;
        background-size: 20px;
        top: 5px;
    }
    .technologies__item:not(:last-child) {
        margin-bottom: 15px;
    }
    .technologies__comment:not(:last-child) {
        margin-top: -25%;
         margin-left: -18%;
     }
     .technologies__image {
        flex: 0 0 200px;
    }
    
}
@media(max-width:577px) {
    .technologies__container {
        grid-template-columns: 40% auto;
    }
    .technologies__comment {
        transform: scale(0.5);
    }
    .technologies__image {
        margin-left: 0;
    }
     .technologies__item:not(:last-child) {
        margin-bottom: ;
    }
    .commentSvg {
        transform: rotate(0deg);
    }
    .technologies__comment:not(:last-child) {
        margin-top:-150px;
         margin-left: -100px;
     }
 
}
@media(max-width:440px) {
    .technologies__container {
        grid-template-columns: auto;
        gap: 10px;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
    .columns-technologies_1 {      
       display: grid;
       grid-template-columns: 30% auto;
       
       
      
        /* grid-template-rows: 70% auto; */
    }
    .columns-technologies_2 {
           
    }
    .technologies__comment {
        position: relative;
        transform: scale(0.57);
        width: 250px;
        grid-column: 2;
        grid-row: 1;
       
    }
    .commentSvg {
        transform: rotate(40deg);
    }
    .technologies__title  {
        font-size: 40px;
    }
    .technologies__title:not(:last-child) {

    }
    .technologies__comment:not(:last-child) {
        margin: 0;
        margin-top: -70px;
        /* margin-left: -10%; */
    }
    .technologies__image {
      width: 150px;
      grid-column: 1;
      grid-row: 1;
     
    }
    .technologies__item {
        /* display: block; */
        font-size: 25px;
        line-height: 1.5;
        border: solid 1px #802a00;
        border-radius: 6px;
        box-shadow: #802a00 2px 2px 0px 0px;
        width: 330px;
        /* flex-basis:100%; */
    }
    .technologies__image img {
     

    }
}
/* ----------------------- */