/* RESET STYLES */
@import url("reset.css");
/* Common styles */
@import url("common.css");
/* HEDER STYLES */
@import url("header.css");
/* FOOTER STYLES */
@import url("footer.css");
@import url("iconsFont.css");
/* ------------------------ */
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #f5f3ea;
    color: rgb(27, 28, 29);
    font-size: 20px;
}
/* ----------------------- */
.wrapper {
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}
/* ----------------------- */
.page {
    flex: 1 1 auto;
    padding-top: 85px;
}
@media(max-width: 767.98px) {
    .page {
        padding: 60px 0px 0px 0px;
    }
}
.page__main {

}
.page__technologies {
}
@media(max-width: 500px) {
    .page {
        padding-top: px;
    }
}
/* ----------------------- */
[class*="container"] {
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
}
/* ----------------------- */

.main {
    padding-top: 56px;
    padding-bottom: 80px;
}
.main__content {
    position: relative;
}
.main__items {  
    display: block; 
}
.main__item {
    position:absolute;
    width: 180px;
    height: 200px;
    padding: 15px 15px;
    background-color: #ffffff;
    border: solid 1px rgb(27, 28, 29);
    border-radius: 8px;
    box-shadow: rgb(27, 28, 29) 3px 3px 0px 0px;
}
.main__items {
   position: relative;
}
.item-main_1 {
    width: 280px;
    height: 170px;
  
    margin-left: 50px;
    margin-top: -30px;
}
.item-main_2 {
    width: 200px;
    height: 260px;
    margin-left: 1050px;
    margin-top: 330px;
}
.item-main_3 {
    width: 220px;
    height: 140px;
    margin-left: 1000px;
    margin-top: 10px;
  
}
.item-main_4 {
    width: 140px;
    height: 210px;
    margin-left: 100px;
    margin-top: 330px;
  
}
.item-main__list li {
    position: relative;
    min-height: 28px;
    padding-left: 40px;
}
.item-main__list li:not(:last-child) {
    margin-bottom: 6px;
}
.list_1 li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: #a3ddf2 url("../icons/check-solid.svg") center no-repeat;
}
.list_2 li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: #fff480 url("../icons/check-solid.svg") center no-repeat;
}
.list_3 li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background:#eda6e6 url("../icons/check-solidWite.svg") center no-repeat;
}
.list_4 li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: #66cca0 url("../icons/check-solid.svg") center no-repeat;
}
.content-main__body {
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   row-gap: 15px;
}

.main__images {
    height:  500px;
    overflow: hidden;
    
}
.main__images img {
    width:  100%;
    height: 100%;
    object-fit: cover;
}
.main__title:not(:last-child) {
    margin-bottom: 25px;
}
.main__text:not(:last-child) {
    margin-bottom: 20px;
}
.main__text {
    text-align: center;
    line-height: 1.55;
    padding-left: 20px;
    padding-right: 20px;
}

/* ----------------------- */
 
.technologies {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color:#ff9966;
}
.lineOrangTop {
    margin-bottom: -45px;
}
.lineOrangBottom {
    margin-top: -35px;
}
.technologies__container {
    display: grid; 
    grid-template-columns: 60% auto; 
    gap: 35px;
 
}
.technologies__comment {
    position: absolute;
    width: 400px;
    overflow: hidden;
    padding-right: 70px;  
    
}
.technologies__comment:not(:last-child) {
    margin-top: -10%;
}
.technologies__title {
    font-size: 54px;
    font-family: 'Skranji', cursive;
    color: #1b1c1d;
    position: absolute;
    margin-top: 32%;
    margin-left: 4%;
    transform: rotate(10deg);
    
}
.commentSvg {
    position: relative;
    width: 100%;
    transform: rotate(230deg);
     object-fit:cover;
}


.technologies__image {
    position: relative;
    width: 600px;
    overflow: hidden;
    margin-left: auto;
    margin-top: 10%;
    
}
.technologies__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.technologies__columns {
    display: flex;
}
.columns-technologies_1 {
    position: relative;
   display: block;
   
}
.columns-technologies_2 {
    align-items: center;
   justify-content: start;
   
    
}
.technologies__list {
   
}
.technologies__item {
    font-family: 'NewKansas-Regular';
    /* padding: 16px; */
    font-size: 56px;
    font-weight: 500;
    line-height: 1;
     /* opacity: 0.5; */  
}

.technologies__item::before {
    content: "";
    position: relative;
    display: inline-block;
   margin: 40px 20px -10px 0px;
    width: 60px;
    height: 60px;
    background:url('../icons/arrow.svg') center no-repeat ;
}
/* ----------------------- */